
.navbar {
    display: flex;
    justify-content: center;
    width: 95% !important;
    margin: auto !important;
    margin-bottom: 8px !important;
    
  }
  
  .navbar ul {
    list-style: none;
    padding: 0.8rem 2rem;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  
    background: rgba(255, 255, 255, 0.4);
    border-radius: 16px;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);

    font-size: 1.2em;
  }
  
  .navbar li a {
    text-decoration: none;
    font-weight: 500;
    padding: 0.5rem 1rem;
    color: var(--cor-primaria)  !important;
    border-radius: 8px;
    transition: background 0.3s ease, color 0.3s ease;
  }
  
  .navbar li a:hover {
    background: rgba(255, 255, 255, 0.5);
    color: #000;
  }


 