<div class="containerPrincipal">

  <div class="header-container" *ngIf="habilitarCadastroEdicao">
    <h1 *ngIf="!habilitarCadastroEdicao">Eventos</h1>

  </div>
  <div class="adicionar-novo d-flex justify-end">
    <i class="fa fa-times" style="cursor: pointer;" (click)="fecharCadastroEdicao()"
      *ngIf="habilitarCadastroEdicao"></i>
    <button *ngIf="!habilitarCadastroEdicao" (click)="abrirCadastroEdicao()" class="btn-salvar" mat-raised-button
      type="button">
      <span class="button-content">
        <mat-icon>add</mat-icon>
        Adicionar novo evento
      </span>
    </button>

  </div>


  <table *ngIf="!habilitarCadastroEdicao" mat-table [dataSource]="listEventos()" class="mat-elevation-z8">

    <!-- Nome do descricao -->
    <ng-container matColumnDef="descricao">
      <th mat-header-cell *matHeaderCellDef> Sub Nome </th>
      <td mat-cell *matCellDef="let evento"> {{ evento.subNomeEvento }} </td>
    </ng-container>

    <!-- Nome do Arquivo -->
    <ng-container matColumnDef="nomeArquivo">
      <th mat-header-cell *matHeaderCellDef> Nome Evento </th>
      <td mat-cell *matCellDef="let evento"> {{ evento.nomeEvento }} </td>
    </ng-container>

    <!-- Cores -->
    <ng-container matColumnDef="data">
      <th mat-header-cell *matHeaderCellDef> Data/Hora </th>
      <td mat-cell *matCellDef="let evento"> {{ alterarDataHoraGrid(evento.dataEvento) }} </td>
    </ng-container>


    <!-- Cores -->
    <ng-container matColumnDef="cores">
      <th mat-header-cell *matHeaderCellDef> Tema </th>
      <td mat-cell *matCellDef="let evento"> {{ evento.tema.descricao }} </td>
    </ng-container>




    <ng-container matColumnDef="acao">
      <th mat-header-cell *matHeaderCellDef> Ação </th>
      <td mat-cell *matCellDef="let evento">
        <mat-menu #menu="matMenu">
          <!-- <button mat-menu-item *ngIf="instrutor.ativo" (click)="excluirInstrutor(instrutor)">
          <mat-icon>delete</mat-icon> Excluir
        </button> -->
          <button mat-menu-item (click)="abrirCadastroEdicao(evento)">
            <mat-icon>edit</mat-icon> Editar
          </button>
          <!-- <button mat-menu-item *ngIf="!instrutor.ativo" (click)="ativarInstrutor(instrutor)">
          <mat-icon>refresh</mat-icon>
          Ativar
        </button> -->
        </mat-menu>

        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


  <app-evento-dados *ngIf="habilitarCadastroEdicao" [eventoSelecionado]="eventoSelecionado"
    (output_fecharCadastroEdicao)="fecharCadastroEdicao($event)"></app-evento-dados>

</div>