<ng-container *ngIf="evento">
    <!-- <h4 class="subtitulo" id="subtitulo">{{ evento.subNomeEvento }}</h4>
    <h1 class="titulo-principal">{{ evento.nomeEvento }}</h1>
    <app-evento-nav> </app-evento-nav> -->
    <app-evento-capa (abrirModal)="abrirCapaModal()"></app-evento-capa>
    <section class="mensagem-evento">
        <h2>{{ evento.titulo }}</h2>
        <p>{{ evento.texto }}</p>
    </section>
    <app-evento-endereco></app-evento-endereco>
    <app-evento-carrossel (abrirModal)="abrirModal()" id="carrossel"></app-evento-carrossel>
    <footer class="rodape">
        <p>{{ evento.textoRodape }}</p>
    </footer>

    <div class="modal" (click)="fecharModal()" [class.ativo]="modalAberto || modalCapaAberto">
        <app-evento-carrossel [click_abrirModal]="false" *ngIf="modalAberto"></app-evento-carrossel>
        <app-evento-capa [click_abrirModal]="false" *ngIf="modalCapaAberto"></app-evento-capa>
        <button class="fechar-modal" (click)="fecharModal()">×</button>
    </div>
</ng-container>