<header class="navbar">
  <div class="navbar-container">
    <div class="logo">
      <a href="#hero">Amoreca</a>
    </div>
    <nav>
      <ul>
        <li><a (click)="scrollToElement($event, 'servicos')">Serviços</a></li>
        <li><a (click)="scrollToElement($event, 'depoimentos')">Depoimentos</a></li>
        <li><a (click)="scrollToElement($event, 'planos')">Planos</a></li>
        <li><a (click)="scrollToElement($event, 'faq')">Dúvidas Frequentes</a></li>
      </ul>
    </nav>
    <div class="auth-buttons">
      <a href="#" class="login" (click)="login()">Login</a>
      <a href="#" class="signup" (click)="signup()">Sign Up</a>
    </div>
  </div>
</header>