<section class="metrics-section">
  <div class="metrics-container">
    <div class="metrics-image">
      <img
        src="https://s.tmimgcdn.com/scr/800x500/92200/interface-de-usuario-do-painel-de-administracao-de-monitoramento-de-vendas_92260-1-original.jpg"
        alt="Métricas do Sistema" />
    </div>
    <div class="metrics-info">
      <h2>Quem já usou, amou!</h2>
      <p>
        O Amoreca já ajudou centenas de pessoas a criarem eventos lindos, organizados e inesquecíveis. Faça parte dessa
        história!
      </p>
      <button>Quero meu evento!</button>
      <div class="metrics-numbers">
        <div class="metric">
          <h3>100+</h3>
          <p>Usuários felizes</p>
        </div>
        <div class="metric">
          <h3>500+</h3>
          <p>Eventos amorecados</p>
        </div>
      </div>
    </div>
  </div>
</section>