<section class="metrics-section">
  <div class="metrics-container">
    <div class="metrics-image">
      <img
        src="https://s.tmimgcdn.com/scr/800x500/92200/interface-de-usuario-do-painel-de-administracao-de-monitoramento-de-vendas_92260-1-original.jpg"
        alt="Métricas do Sistema" />
    </div>
    <div class="metrics-info">
      <h2>Métricas do Sistema</h2>
      <p>
        Acompanhe o desempenho do seu negócio com dados atualizados e em tempo real.
        Melhore sua gestão e tome decisões mais assertivas.
      </p>
      <button>Acesse o Sistema</button>
      <div class="metrics-numbers">
        <div class="metric">
          <h3>100+</h3>
          <p>Usuários</p>
        </div>
        <div class="metric">
          <h3>500+</h3>
          <p>Amorecamentos Realizados</p>
        </div>
      </div>
    </div>
  </div>
</section>
