
img.imagem {
  width: 250px;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  margin: 8px;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 24px rgba(0, 0, 0, 0.2);
  }
}




.modal {
  background-color: rgba(0, 0, 0, 0.5); /* Escurecer o fundo */
  backdrop-filter: blur(10px); /* Aplica o blur ao fundo */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scale(0.50);
  transition: opacity 200ms ease, transform 200ms ease;
  pointer-events: none;
}


.modal.ativo {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

.fechar-modal {
  position: absolute;
  top: 0px;
  right: 16px;
  background: none;
  border: none;
  color: white;
  font-size: 5em;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}






  .foto-wrapper-big {
    max-width: 100% !important;
    max-height: 80vh !important;
    width: 80% !important;
    height: auto !important;
    object-fit: contain !important;
  }
   