<div class="lista-recados">
    <h2 style="text-align: center;" *ngIf="recados && recados.length > 0">Recados dos Convidados</h2>
    <div class="recado" *ngFor="let recado of recados">
        <p class="nome">{{ recado.nome }}</p>
        <p class="mensagem">{{ recado.mensagem }}</p>
    </div>
</div>


<div class="container-recados">
    <h2>Envie um novo recado</h2>



    <form [formGroup]="formGroup" class="row">

        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Seu nome</mat-label>
            <input matInput type="text" formControlName="nome" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Deixe seu recado</mat-label>
            <textarea matInput rows="3" formControlName="mensagem"></textarea>
        </mat-form-field>

        <button mat-raised-button class="btn-verde" type="button" (click)="enviarRecado()"
            style="margin-top: 8px !important;">
            Enviar Recado
        </button>


    </form>
</div>