.tema-scroll-container {
  display: flex;
  overflow-x: auto;
  gap: 12px;
  scroll-snap-type: x mandatory;
  padding: 50px 8px;
}

.tema-card {
  flex: 0 0 auto;
  width: 200px;
  border: 1px solid black;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  background-color: #fff;
  transition: transform 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
  scroll-snap-align: start;
}

.tema-card:hover {
  transform: scale(1.05);
  border: 2px solid #2196f3;
}

.tema-card.selected {
  border-color: transparent;
  background: linear-gradient(135deg, rgba(33, 150, 243, 0.2), rgba(156, 39, 176, 0.2));
  box-shadow:
    0 0 10px rgba(33, 150, 243, 0.4),
    0 0 20px rgba(156, 39, 176, 0.3),
    0 0 30px rgba(103, 58, 183, 0.3);
  backdrop-filter: blur(6px);
  transform: scale(1.1);
  transition: all 0.4s ease;
  border-radius: 16px;
  margin: 8px;
}

/* Proporção 9:16 para parecer uma miniatura de celular */
.tema-img {
  width: 100%;
  aspect-ratio: 9 / 16;
  object-fit: contain;
  transition: object-fit 0.3s ease, height 0.3s ease;
}

/* Quando selecionado: imagem estica e cobre tudo */
.tema-card.selected .tema-img {
  aspect-ratio: unset;
 // height: 120px;
  object-fit: cover;
}

/* Informação abaixo da imagem */
.tema-info {
  padding: 8px;
  background-color: #f9f9f9;
}

.tema-info h4 {
  margin: 4px 0 8px;
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

.cores {
  display: flex;
  gap: 4px;
}

.cor {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
}


h3{
  font-size: 1.5rem;
  font-weight: bold;
  span {
    font-size: 1.2rem;
    font-weight: normal;
  }
}