<div class="tema-selector-container">
  <form [formGroup]="formGroup">





    <div class="tema-scroll-container">
      <div class="tema-card" *ngFor="let tema of listTemasFiltrado" [class.selected]="tema.id === temaSelecionado?.id"
        (click)="selecionarTema(tema)">
        <img [src]="getImagem(tema)" class="tema-img" alt="Imagem do tema" />
        <div class="tema-info">
          <h4>{{ tema.descricao }}</h4>
          <div class="cores">
            <div class="cor" [style.backgroundColor]="tema.corPrimaria"></div>
            <div class="cor" [style.backgroundColor]="tema.corSecundaria"></div>
            <div class="cor" [style.backgroundColor]="tema.corTerciaria"></div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-12 mt-2">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Filtar pelo nome do tema</mat-label>
          <input matInput type="text" formControlName="filtro" placeholder="Buscar tema..." />

        </mat-form-field>
      </div>
    </div>
  </form>
</div>