<div class="container">

    <div class="canvas-container" [style.background-image]="backgroundImageUrl">


        <h4 class="subtitulo">{{ subNomeEvento }}</h4>
        <h1 class="titulo-principal">{{ nomeEvento }}</h1>



        <nav class="navbar">
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#presentes">Lista de Presentes</a></li>
                <li><a href="#mural">Mural de Recados</a></li>
                <li><a href="#album">Álbum de Fotos</a></li>
                <li><a href="#confirmar">Confirmar Presença</a></li>
                <li><a href="#evento">Evento</a></li>
            </ul>
        </nav>


        <div class="foto-capa-container">
            <div class="foto-wrapper">
                <img [src]="capaImageUrl" alt="Foto de Capa" (click)="abrirCapaModal()" />
                <div class="contador-overlay">
                    <p>Faltam {{ diasRestantes }} dias!</p>
                </div>
            </div>
        </div>

        <section class="mensagem-evento">
            <h2>{{ tituloMensagem }}</h2>
            <p>{{ textoMensagem }}</p>
        </section>

        <section class="info-evento">
            <p><strong>Data:</strong> {{ dataEvento }}</p>
            <p><strong>Horário:</strong> {{ horarioEvento }}</p>
            <p><strong>Local:</strong> {{ localEvento }}</p>
        </section>

        <div class="carrossel-container">
            <button class="nav-btn" (click)="anterior(null)">‹</button>

            <div class="carrossel-slide" (click)="abrirModal()">
                <img [src]="backgrounds[imagemAtual]" />

            </div>

            <button class="nav-btn" (click)="proximo(null)">›</button>
        </div>


        <footer class="rodape">
            <p>Com carinho, <span>{{ nomeEvento }}</span></p>
        </footer>

    </div>
</div>

<div class="modal" (click)="fecharModal()" [class.ativo]="modalAberto">
    <button class="nav-btn-modal left" (click)="anterior($event)">‹</button>
    <div class="carrossel-slide-modal">
        <img [src]="backgrounds[imagemAtual]" />
    </div>
    <button class="nav-btn-modal right" (click)="proximo($event)">›</button>
    <button class="fechar-modal" (click)="fecharModal()">×</button>
</div>

<div class="modal" (click)="fecharModal()" [class.ativo]="modalCapaAberto">
    <div class="carrossel-slide-modal">
        <img [src]="capaImageUrl" />
    </div>
    <button class="fechar-modal" (click)="fecharModal()">×</button>
</div>