<div class="container">

    <div class="canvas-container" [style.background-image]="backgroundImageUrl" *ngIf="evento">


        <h4 class="subtitulo">{{ evento.subNomeEvento }}</h4>
        <h1 class="titulo-principal">{{ evento.nomeEvento }}</h1>



        <nav class="navbar">
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#presentes">Lista de Presentes</a></li>
                <li><a href="#mural">Mural de Recados</a></li>
                <li><a href="#album">Álbum de Fotos</a></li>
                <li><a href="#confirmar">Confirmar Presença</a></li>
            </ul>
        </nav>


        <div class="foto-capa-container">
            <div class="foto-wrapper">
                <img [src]="capaImageUrl" alt="Foto de Capa" (click)="abrirCapaModal()" />
                <div class="contador-overlay">
                    <p>Faltam {{ 10 }} dias!</p>
                </div>
            </div>
        </div>

        <section class="mensagem-evento">
            <h2>{{ evento.titulo }}</h2>
            <p>{{ evento.texto }}</p>
        </section>

        <section class="info-evento"
            *ngIf="evento.dataEvento || evento.dataFimEvento || getEndereco() || evento.infoEvento">

            <p *ngIf="evento.dataEvento"><strong>Data:</strong> {{ alterarDataHoraGrid(evento.dataEvento) }}</p>
            <p *ngIf="evento.dataFimEvento"><strong>Data final:</strong> {{ alterarDataHoraGrid(evento.dataFimEvento) }}
            </p>
            <p *ngIf="getEndereco()"><strong>Local:</strong> {{getEndereco()}}</p>

            <p *ngIf="evento.infoEvento"><strong>Informações:</strong> {{ evento.infoEvento }}</p>


        </section>

        <div class="carrossel-container">
            <button class="nav-btn" (click)="anterior(null)">‹</button>

            <div class="carrossel-slide" (click)="abrirModal()">
                <img [src]="backgrounds[imagemAtual]" />

            </div>

            <button class="nav-btn" (click)="proximo(null)">›</button>
        </div>


        <footer class="rodape">
            <p>{{ evento.textoRodape }}</p>
        </footer>

    </div>
</div>

<div class="modal" (click)="fecharModal()" [class.ativo]="modalAberto">
    <button class="nav-btn-modal left" (click)="anterior($event)">‹</button>
    <div class="carrossel-slide-modal">
        <img [src]="backgrounds[imagemAtual]" />
    </div>
    <button class="nav-btn-modal right" (click)="proximo($event)">›</button>
    <button class="fechar-modal" (click)="fecharModal()">×</button>
</div>

<div class="modal" (click)="fecharModal()" [class.ativo]="modalCapaAberto">
    <div class="carrossel-slide-modal">
        <img [src]="capaImageUrl" />
    </div>
    <button class="fechar-modal" (click)="fecharModal()">×</button>
</div>