<div class="upload-container">
    <input type="file" #fileInput (change)="onFileSelected($event)" multiple accept="image/*" hidden />
    <div class="botao-centralizado">
        <button mat-raised-button color="primary" (click)="fileInput.click()">
            <mat-icon>upload</mat-icon>
            Adicionar Imagens
        </button>
    </div>

    <div class="lista-arquivos">
        <div class="item-arquivo" *ngFor="let arquivo of arquivos; let i = index" [class.capa]="arquivo.capa">
            <p>
                <img *ngIf="arquivo.base64" [src]="arquivo.base64" alt="preview" class="preview-img" />

            <div class="info">
                <p>{{ arquivo.arquivo?.nomeOriginal ? arquivo.arquivo?.nomeOriginal : arquivo.file?.name }}</p>
                <button type="button" (click)="definirComoCapa(i)">
                    {{ arquivo.capa ? '✅ Capa' : 'Definir como capa' }}
                </button>
                <button type="button" class="btn-remover" (click)="removerArquivo(i)">
                    Remover
                </button>
            </div>
        </div>
    </div>
</div>