<div class="container">
  <div class="header-container">
    <h1 *ngIf="!habilitarCadastroEdicao">Presentes</h1>
    <h1 *ngIf="habilitarCadastroEdicao && presenteSelecionado">Editar presente</h1>
    <h1 *ngIf="habilitarCadastroEdicao && !presenteSelecionado">Cadastrar novo presente</h1>
  </div>
  <div class="d-flex justify-content-end mb-4">


    <mat-icon style="cursor: pointer;" *ngIf="habilitarCadastroEdicao" (click)="fecharCadastroEdicao()">
      close
    </mat-icon>


    <button *ngIf="!habilitarCadastroEdicao" (click)="abrirCadastroEdicao()" mat-raised-button type="button">
      <mat-icon>add</mat-icon>
      Adicionar novo presente
    </button>

  </div>


  <table *ngIf="!habilitarCadastroEdicao && listPresentes" mat-table [dataSource]="listPresentes"
    class="mat-elevation-z8">

    <!-- Nome do descricao -->
    <ng-container matColumnDef="descricao">
      <th mat-header-cell *matHeaderCellDef> Descricao </th>
      <td mat-cell *matCellDef="let presente"> {{ presente.descricao }} </td>
    </ng-container>

    <!-- Nome do Arquivo -->
    <ng-container matColumnDef="nomeArquivo">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Arquivo </th>
      <td mat-cell *matCellDef="let presente">
        <div *ngIf="presente?.base64"
          style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
          <img [src]="presente?.base64" alt="preview" class="preview-img" height="130px" />
          <p style="text-align: center; margin-top: 8px;">{{ presente.arquivo?.nomeOriginal }}</p>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="categoria">
      <th mat-header-cell *matHeaderCellDef> Categoria </th>
      <td mat-cell *matCellDef="let presente">
        <ul>
          <ng-container *ngFor="let descricao of getCategoriaArray(presente)">
            <li>{{ descricao }}</li>
          </ng-container>
        </ul>
      </td>
    </ng-container>
    <ng-container matColumnDef="preco">
      <th mat-header-cell *matHeaderCellDef> Preço Sugerido </th>
      <td mat-cell *matCellDef="let presente">
        R$ {{ presente?.precoSugerido }}
      </td>
    </ng-container>
    <ng-container matColumnDef="quantidade">
      <th mat-header-cell *matHeaderCellDef> Quantidade Sugerida </th>
      <td mat-cell *matCellDef="let presente">
        {{ presente?.quantidadeSugerida }} und
      </td>
    </ng-container>






    <ng-container matColumnDef="acao">
      <th mat-header-cell *matHeaderCellDef> Ação </th>
      <td mat-cell *matCellDef="let presente">
        <mat-menu #menu="matMenu">
          <!-- <button mat-menu-item *ngIf="instrutor.ativo" (click)="excluirInstrutor(instrutor)">
          <mat-icon>delete</mat-icon> Excluir
        </button> -->
          <button mat-menu-item (click)="abrirCadastroEdicao(presente)">
            <mat-icon>edit</mat-icon> Editar
          </button>
          <!-- <button mat-menu-item *ngIf="!instrutor.ativo" (click)="ativarInstrutor(instrutor)">
          <mat-icon>refresh</mat-icon>
          Ativar
        </button> -->
        </mat-menu>

        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


  <app-presente-dados *ngIf="habilitarCadastroEdicao" [presenteSelecionado]="presenteSelecionado"
    (output_fecharCadastroEdicao)="fecharCadastroEdicao($event)"></app-presente-dados>

</div>