.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  overflow-y: auto;
  background-color: transparent;

  .login-card {
    width: 100%; // Largura fixa do cartão
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: transparent;
  }

  .login-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }

  .full-width {
    width: 100%;
  }

  .login-button {
    width: 100%;
    margin-top: 20px;
  }

  .social-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px; // Espaço entre os botões sociais
    margin-top: 20px;


    .social-button {
      display: flex;
      align-items: center;
      justify-content: center;
      color: white; // Texto branco
      width: 100%;



      i {
        margin-right: 8px; // Espaço entre ícone e texto
      }


      &.google {
          background-color: #db4437;
          color: white;
          border: none;
          border-radius: 10px;
          padding: 10px 20px;
          cursor: pointer;
          transition: background-color 0.3s;


      }

      &.instagram {
          background: linear-gradient(90deg, #f58529, #d62976, #962fbf);
          color: white;
          border: none;
          border-radius: 10px;
          padding: 10px 20px;
          cursor: pointer;
          transition: background-color 0.3s;


      }

      &.twitter {
        background-color: #00acee;
        color: white;
        border: none;
        border-radius: 10px;
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 0.3s;


      }


    }




  }
}

