<form [formGroup]="formGroup">


  <div class="container">
    <div class="header-container">
      <h1 *ngIf="eventoSelecionado">Editar evento</h1>
      <h1 *ngIf="!eventoSelecionado">Cadastrar novo evento</h1>
    </div>

    <!-- <app-evento-dados-site [eventoSelecionado]="eventoSelecionado"></app-evento-dados-site> -->

    <!-- <button mat-raised-button color="primary" type="button" (click)="salvar()">Salvar</button> -->



    <mat-stepper linear #stepper>
      <mat-step [stepControl]="firstFormGroup" [editable]="true">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>{{temaSelecionado ? 'Tema' : 'Selecione o tema'}}</ng-template>



          <app-tema-lista-selecionar [temaSelecionado]="temaSelecionado"
            *ngIf="habilitarSelecaoTema || !temaSelecionado"
            (temaSelecionadoChange)="onTemaSelecionado($event)"></app-tema-lista-selecionar>
          <button mat-flat-button color="primary" (click)="habilitarSelecaoTema = !habilitarSelecaoTema">
            {{ eventoSelecionado?.tema ? 'Editar Tema' : 'Selecionar Tema' }}
          </button>

          <div class="tema-card" *ngIf="temaSelecionado && !habilitarSelecaoTema">
            <img [src]="temaSelecionado.arquivoBase64?.base64" class="tema-img" alt="Imagem do tema" />
            <div class="tema-info">
              <h4>{{ temaSelecionado.descricao }}</h4>
              <div class="cores">
                <div class="cor" [style.backgroundColor]="temaSelecionado.corPrimaria"></div>
                <div class="cor" [style.backgroundColor]="temaSelecionado.corSecundaria"></div>
                <div class="cor" [style.backgroundColor]="temaSelecionado.corTerciaria"></div>
              </div>
            </div>
          </div>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup" [editable]="true">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Fotos e configurações</ng-template>
          <mat-form-field>
            <mat-label>Link do site para visitantes</mat-label>
            <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
          </mat-form-field>
          <app-evento-dados-foto [eventoSelecionado]="eventoSelecionado"></app-evento-dados-foto>

          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>


      <mat-step>
        <ng-template matStepLabel>Customize seu site</ng-template>
        <app-evento-dados-site [backgroundImageUrl]="backgroundImageUrl" [eventoSelecionado]="eventoSelecionado"
          [temaSelecionado]="temaSelecionado"></app-evento-dados-site>


        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-stepper>


  </div>

</form>