
  
.nav-icon-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px; // ou o mesmo que mat-list-item usa
  }

  .nav-icon-wrapper-end {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 48px; // ou o mesmo que mat-list-item usa
  }

 
  .sidenav{
    padding: 0 !important;
     margin: 0 !important;
  }
  mat-nav-list{
    width: 99% !important;
    margin: auto;
    
  }
  mat-sidenav-content {
    padding: 8px 16px !important;
  }