@import '../../shared/variables';

// Variáveis de cores
$background-dark: #1c2331;
$hover-background: #1976d25e;
$text-color: #b4b7c0;


$user-role-color: #a3a5ae;
$light-background: #f4f4f4;



// Variáveis de tamanhos
$side-padding: 20px;
$border-radius: 8px;
$avatar-size: 40px;
$avatar-size-small: 20px;



// Estilos principais do container
.sidenav-container {
  height: 100vh;
  display: flex;
  position: relative;
}

.custom-sidenav {
  width: 250px;
  background-color: $background-dark;
  color: $text-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
  transition: width 0.3s ease;
    /* Transição suave para a largura */

  .sidenav-header {
    padding: $side-padding;
    display: flex;
    justify-content: center;

    .logo {
      width: 40px;
      height: 40px;
    }
  }

  mat-nav-list {
    padding-top: 0;

    .section-title,
    .nav-item,
    mat-icon,
    span {
      color: $text-color; // Definir a mesma cor para títulos, menus e ícones
      display: visible;
    }



    .section-title {
      font-size: 12px;
      margin: 10px 0 10px $side-padding;
      text-transform: uppercase;
      font-weight: 600;
    }

    .nav-item {
      display: flex;
      align-items: center;
      padding: 10px $side-padding;
      font-size: 14px;
      border-radius: $border-radius;
      transition: background-color 0.3s ease;

      mat-icon {
        margin-right: 10px;
      }

      &:hover {
        background-color: $hover-background;

        .section-title,
        .nav-item,
        mat-icon,
        span {
          color: $primary-color;
        }
      }
    }
  }

  .sidenav-footer {
    display: flex;
    justify-content: center;
    padding: $side-padding;

    .user-info {
      display: flex;
      align-items: center;

      .avatar {
        width: $avatar-size;
        height: $avatar-size;
        border-radius: 50%;
        margin-right: 10px;
      }

      .user-details {
        display: flex;
        flex-direction: column;

        .user-role {
          font-size: 12px;
          color: lighten($text-color, 20%); // Cor mais clara para o papel do usuário
        }
      }
    }
  }
}

.custom-sidenav-small {
  width: 70px;
  background-color: $background-dark;
  color: $text-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
  position: relative;
  transition: width 0.3s ease;
      /* Transição suave para a largura */

  .sidenav-header {
    padding: $side-padding;
    display: flex;
    justify-content: center;

    .logo {
      width: 40px;
      height: 40px;
    }
  }

  mat-nav-list {
    padding-top: 0;


    mat-icon {
      color: $text-color; // Definir a mesma cor para títulos, menus e ícones
    }

     .section-title {
       display: none;

     }

    .nav-item {
      display: flex;
      align-items: center;
     // padding: 10px $side-padding;
      font-size: 14px;
      border-radius: $border-radius;
      transition: background-color 0.3s ease;


      span {
        display: none;
      }


      &:hover {
        background-color: $hover-background;

        .section-title,
        .nav-item,
        mat-icon,
        span {
          color: $primary-color;
        }
      }
    }
  }

  .sidenav-footer {
    position: absolute; // Muda para absolute
    bottom: 10px; // Coloca na parte inferior
    left: 0; // Alinha à esquerda
    right: 0; // Alinha à direita
    display: flex;
    flex-direction: column;
    justify-content: center;

    .user-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 0.5em;
      .avatar {
        width: $avatar-size-small;
        height: $avatar-size-small;
        border-radius: 50%;
      }

      .user-details {
        display: none;

      }
    }
  }
}





// Conteúdo principal
mat-sidenav-content {
   padding: $side-padding !important;
  // margin: none !important;
  //padding: 0 !important;
  background-color: #f4f4f4; // Cor de fundo do conteúdo principal
  width: 100% !important;
  height: calc(100% - 48px) !important; /* ajuste se precisar */

  .sidenavOpen{  
    margin: 0 !important;
  }
  .sidenavClose{
    margin: none !important;
  }
  
}

.sidenavOpen{  
  margin: 0 !important;
}
.sidenavClose{
  margin: none !important;
}
