<mat-sidenav-container class="sidenav-container" style="background: rgb(255, 255, 255); height: 100%; width: 100%;">
  <mat-sidenav #drawer mode="side" class="sidenav" fixedInViewport [opened]="true"
    [@sidenavWidth]="isSmallScreen ? 'small' : 'large'">

    <mat-nav-list>
      <div [ngClass]="isSmallScreen ? 'nav-icon-wrapper' : 'nav-icon-wrapper-end'">


        <button mat-icon-button (click)="toggleMenu()">
          <mat-icon>{{ isSmallScreen ? 'read_more' : 'menu_open' }}</mat-icon>
        </button>



      </div>
      <h3 class="section-title" *ngIf="!isSmallScreen">Menu</h3>

      <a mat-list-item routerLink="/home/dashboard" class="nav-item" title="Dashboard">
        <mat-icon [ngClass]="isSmallScreen ? 'nav-icon-wrapper' : ''">dashboard</mat-icon>
        <span *ngIf="!isSmallScreen" class="nav-text">Dashboard</span>
      </a>
      <a mat-list-item routerLink="/home/eventos" class="nav-item" title="Meus eventos">
        <mat-icon [ngClass]="isSmallScreen ? 'nav-icon-wrapper' : ''">insights</mat-icon>
        <span *ngIf="!isSmallScreen" class="nav-text">Meus eventos</span>
      </a>

      <ng-container *ngIf="isAdmin">
        <h3 class="section-title" *ngIf="!isSmallScreen">Administração</h3>
        <a mat-list-item routerLink="/home/tema" class="nav-item" title="Tema">
          <mat-icon [ngClass]="isSmallScreen ? 'nav-icon-wrapper' : ''">group</mat-icon>
          <span *ngIf="!isSmallScreen" class="nav-text">Tema</span>
        </a>
        <a mat-list-item routerLink="/home/presente" class="nav-item" title="Presentes">
          <mat-icon [ngClass]="isSmallScreen ? 'nav-icon-wrapper' : ''">card_giftcard</mat-icon>
          <span *ngIf="!isSmallScreen" class="nav-text">Presentes</span>
        </a>

      </ng-container>



      <a mat-list-item class="nav-item" title="Sair / Logout" class="button-logout " (click)="logout()">
        <mat-icon [ngClass]="isSmallScreen ? 'nav-icon-wrapper big-icon' : ''">exit_to_app</mat-icon>
        <span *ngIf="!isSmallScreen" class="nav-text">Sair / Logout</span>
      </a>




    </mat-nav-list>

  </mat-sidenav>


  <mat-sidenav-content class="main-content" [style.width]="isSmallScreen ? 'calc(100vw - 75px)' : 'calc(100vw - 250px)'"
    [style.margin-left]="isSmallScreen ? '75px' : '250px'">


    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>