<form [formGroup]="formGroup" *ngIf="formGroup">

  <mat-form-field appearance="outline">
    <mat-select [formControlName]="_formControlName" [placeholder]="labelName" [multiple]="multiple"
      disableOptionCentering #multiSelect>
      <mat-option class="sticky-search-option">
        <ngx-mat-select-search [placeholderLabel]="labelName_find" [formControlName]="control_formControlName"
          noEntriesFoundLabel="Nenhuma opção encontrada" [showToggleAllCheckbox]="multiple"
          [hideClearSearchButton]="false" (toggleAll)="toggleAll($event)"></ngx-mat-select-search>
      </mat-option>

      <div>
        <mat-option *ngFor="let option of listaOptionFiltrado" [value]="option[nomeCampoId]">



          {{getNestedValue(option, nomeCampoDescricao)}}
          <span *ngIf="nomeCampoDescricaoSecundario"> | {{getNestedValue(option, nomeCampoDescricaoSecundario)}}</span>
        </mat-option>

      </div>
    </mat-select>
  </mat-form-field>


</form>