<form [formGroup]="formGroup" *ngIf="backgroundImageUrl">



  <div class="container">
    <div class="canvas-container" [style.background-image]="backgroundImageUrl">
      <div class="row"
        style="width: 100% !important;display: flex; flex-direction: column; align-items: center; justify-content: center;">


        <!-- subNomeEvento -->
        <div class="col-12" style="max-width: 90% !important;"
          [style.width.px]="calcularTamanhoInput('subNomeEvento',30,200)">
          <mat-form-field appearance="fill">
            <mat-label>Subnome do Evento</mat-label>
            <input matInput type="text" formControlName="subNomeEvento" class="subtitulo" />
          </mat-form-field>
        </div>

        <!-- nomeEvento -->
        <div class="col-12" style="max-width: 90% !important;"
          [style.width.px]="calcularTamanhoInput('nomeEvento',55,200)">
          <mat-form-field appearance="fill">
            <mat-label>Nome do Evento</mat-label>
            <input matInput type="text" formControlName="nomeEvento" class="titulo-principal" />
          </mat-form-field>
        </div>

        <nav class="navbar">
          <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#presentes">Lista de Presentes</a></li>
            <li><a href="#mural">Mural de Recados</a></li>
            <li><a href="#album">Álbum de Fotos</a></li>
            <li><a href="#confirmar">Confirmar Presença</a></li>
          </ul>
        </nav>

        <div class="foto-capa-container">
          <div class="foto-wrapper">
            <img [src]="this.temaSelecionado?.arquivoBase64?.base64" alt="Foto de Capa" />

          </div>
        </div>


        <section class="mensagem-evento">

          <div class="col-12" style="max-width: 100% !important;"
            [style.width.px]="calcularTamanhoInput('titulo',30,200)">
            <mat-form-field appearance="fill">
              <mat-label>Título</mat-label>
              <input matInput type="text" formControlName="titulo" class="mensagem-evento-titulo" />
            </mat-form-field>
          </div>



          <!-- texto -->
          <div class="col-12">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Texto</mat-label>
              <textarea matInput formControlName="texto" rows="2" class="mensagem-evento-texto" #textarea></textarea>
            </mat-form-field>
          </div>
        </section>




        <section class="info-evento">

          <div class="row">
            <div class="col-3">
              <p><strong>Data:</strong> </p>
            </div>
            <div class="col-5">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Data do Evento</mat-label>

                <input matInput [matDatepicker]="pickerDataEvento" formControlName="dataEvento" />
                <mat-datepicker-toggle matSuffix [for]="pickerDataEvento"></mat-datepicker-toggle>
                <mat-datepicker #pickerDataEvento></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="col-4">
              <mat-form-field appearance="outline">
                <mat-label>Horário</mat-label>
                <input matInput [matTimepicker]="pickerHoraEvento" formControlName="horaEvento">
                <mat-timepicker-toggle matIconSuffix [for]="pickerHoraEvento" />
                <mat-timepicker #pickerHoraEvento />
              </mat-form-field>
            </div>


          </div>

          <div class="row">

            <div class="col-3">
              <p><strong>Data final:</strong> </p>
            </div>

            <div class="col-5">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Data final do Evento</mat-label>

                <input matInput [matDatepicker]="pickerDataFimEvento" formControlName="dataFimEvento" />
                <mat-datepicker-toggle matSuffix [for]="pickerDataFimEvento"></mat-datepicker-toggle>
                <mat-datepicker #pickerDataFimEvento></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="col-4">
              <mat-form-field appearance="outline">
                <mat-label>Horário final</mat-label>
                <input matInput [matTimepicker]="pickerHoraFimEvento" formControlName="horaFimEvento">
                <mat-timepicker-toggle matIconSuffix [for]="pickerHoraFimEvento" />
                <mat-timepicker #pickerHoraFimEvento />
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-3">
              <p><strong>Local:</strong> </p>
            </div>
            <div class="col-9">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Bairro</mat-label>
                <input matInput type="text" formControlName="bairro" />
              </mat-form-field>
            </div>

            <!-- rua -->
            <div class="col-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Rua</mat-label>
                <input matInput type="text" formControlName="rua" />
              </mat-form-field>
            </div>

            <!-- numero -->
            <div class="col-2">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Número</mat-label>
                <input matInput type="text" formControlName="numero" />
              </mat-form-field>
            </div>

            <!-- complemento -->
            <div class="col-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Complemento</mat-label>
                <input matInput type="text" formControlName="complemento" />
              </mat-form-field>
            </div>

          </div>

          <div class="row">
            <div class="col-3">
              <p><strong>Informações:</strong> </p>
            </div>
            <!-- infoEvento -->
            <div class="col-9">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Informações do Evento</mat-label>
                <textarea matInput formControlName="infoEvento"></textarea>
              </mat-form-field>
            </div>
          </div>

        </section>

      </div>
      <footer class="rodape">

        <div class="col-12" style="display: flex; max-width: 100% !important;"
          [style.width.px]="calcularTamanhoInput('textoRodape',16,180)">

          <mat-form-field appearance="fill">
            <mat-label>Texto do Rodapé</mat-label>
            <input matInput type="text" formControlName="textoRodape" class="rodape-text" />
          </mat-form-field>




        </div>



      </footer>
    </div>

  </div>

</form>