<form [formGroup]="formGroup" class="formPrincial">


  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">

    <mat-tab>
      <ng-template mat-tab-label>
        <!-- <mat-icon class="example-tab-icon">thumb_up</mat-icon> -->
        Personalise seu site
      </ng-template>

      <app-tab-personalise [formGroup_categoriaTema]="formGroup_categoriaTema" [formGroup_fotos]="formGroup_fotos"
        [formGroup_editeSeuSite]="formGroup_editeSeuSite" [formGroup_Link]="formGroup_Link" [categorias]="categorias"
        [temaSelecionado]="temaSelecionado" [eventoSelecionado]="eventoSelecionado"
        [backgroundImageUrl]="backgroundImageUrl">
      </app-tab-personalise>


    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <!-- <mat-icon class="example-tab-icon">thumb_up</mat-icon> -->
        Lista de presentes
      </ng-template>
      <app-tab-lista-presente [presentesFormGroup]="presentesFormGroup" [eventoSelecionado]="eventoSelecionado">
      </app-tab-lista-presente>



    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <!-- <mat-icon class="example-tab-icon">thumb_up</mat-icon> -->
        Gerenciar
      </ng-template>

      <form [formGroup]="gerenciarFormGroup">
        <div>
          <ul>
            <!-- <h3>Gerenciar!</h3> -->
            <li>Confira e/ou edite sua lista de presença!</li>
            <li>Visualize todos os presentes que recebeu!</li>
          </ul>
        </div>



        <mat-accordion>



          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title> Confirmação de presença </mat-panel-title>
              <mat-panel-description> Gerenciar/visualisar a lista de presença
                <span style="position: absolute; right: 16px;">Total de pessoas confirmadas
                  {{contarTotalPessoas()}}</span>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="configuracaoAcordionTamanhoMaximo">

              <app-gerenciar-evento-presenca [formGroup]="gerenciarFormGroup"
                [lista]="lista"></app-gerenciar-evento-presenca>
            </div>




          </mat-expansion-panel>

          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title> Histórico de presentes </mat-panel-title>
              <mat-panel-description> Visualisar todos os presentes recebidos
                <span style="position: absolute; right: 16px;">Total de presentes recebidos
                  {{contarTotalPessoas()}}</span>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="configuracaoAcordionTamanhoMaximo">


              <h2>Em breve</h2>
            </div>
          </mat-expansion-panel>




        </mat-accordion>

      </form>
    </mat-tab>


  </mat-tab-group>


  <button mat-raised-button class="btn-verde-secundario" type="button" (click)="salvar()">
    <mat-icon>add</mat-icon>
    Salvar
  </button>




</form>