
.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.btnRemoverPresenca{
      
      color: #b71c1c; /* vermelho escuro */
      border-radius: 6px;
      transition: background-color 0.25s ease;

      &:hover {
        background-color: #f8d7da;
        color: #7f0000;
      }
    
}


mat-card-content {
  padding: 0.5rem;
  div[formArrayName="acompanhantes"] {
  margin-left: 0.75rem;
    border-left: 4px solid #1976d2;
    padding-left: 1rem;

    button[mat-icon-button] {
      margin-top: 0.4rem;
      transition: color 0.25s ease;

      &:hover {
        background-color: transparent;
      }
    }
  }
}

mat-card-actions {
  background: #f5f7fa;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  margin: auto;

  button[color="primary"] {
    background-color: #1976d2;
    color: white;
    border-radius: 6px;
    padding: 0.5rem 1.25rem;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #1565c0;
    }
  }
}

