<form [formGroup]="formGroup">


  <div class="container">
    <div class="header-container">
      <h1 *ngIf="eventoSelecionado">Editar evento</h1>
      <h1 *ngIf="!eventoSelecionado">Cadastrar novo evento</h1>
    </div>





    <mat-stepper linear #stepper>
      <mat-step [stepControl]="firstFormGroup" [editable]="true">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>{{temaSelecionado ? 'Tema' : 'Selecione o tema'}}</ng-template>



          <app-tema-lista-selecionar [temaSelecionado]="temaSelecionado"
            *ngIf="habilitarSelecaoTema || !temaSelecionado"
            (temaSelecionadoChange)="onTemaSelecionado($event)"></app-tema-lista-selecionar>

          <div class="botao-centralizado" style="padding-top: 0 !important;margin: 0 !important;">
            <button mat-raised-button color="primary" *ngIf="!habilitarSelecaoTema"
              (click)="habilitarSelecaoTema = !habilitarSelecaoTema">
              <mat-icon>palette</mat-icon>
              {{ eventoSelecionado?.tema ? 'Editar Tema' : 'Selecionar Tema' }}
            </button>


          </div>

          <div class="tema-card" *ngIf="temaSelecionado && !habilitarSelecaoTema">
            <img [src]="temaSelecionado.arquivoBase64?.base64" class="tema-img" alt="Imagem do tema" />
            <div class="tema-info">
              <h4>{{ temaSelecionado.descricao }}</h4>
              <div class="cores">
                <div class="cor" [style.backgroundColor]="temaSelecionado.corPrimaria"></div>
                <div class="cor" [style.backgroundColor]="temaSelecionado.corSecundaria"></div>
                <div class="cor" [style.backgroundColor]="temaSelecionado.corTerciaria"></div>
              </div>
            </div>
          </div>
          <div>
            <div class="botao-centralizado">
              <button mat-raised-button class="btn-vermelho-secundario" type="button"
                (click)="output_fecharCadastroEdicao.emit()">
                <mat-icon>close</mat-icon>
                Cancelar edição
              </button>

              <button mat-raised-button class="btn-azul-secundario" type="button" matStepperNext>
                <mat-icon>arrow_forward</mat-icon>
                Próximo
              </button>

              <button mat-raised-button class="btn-verde-secundario" type="button" (click)="salvar()">
                <mat-icon>add</mat-icon>
                Salvar
              </button>

            </div>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="secondFormGroup" [editable]="true">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Fotos e configurações</ng-template>
          <mat-form-field appearance="outline" style="margin-top: 8px;">
            <mat-label>Link/Url do site para visitantes</mat-label>
            <input matInput formControlName="linkSite" placeholder="Link/Url do site para visitantes">
          </mat-form-field>
          <app-evento-dados-foto (output_arquivos)="processArquivosCadastro($event)"
            (output_removeArquivos)="processRemoverArquivos($event)"
            [eventoSelecionado]="eventoSelecionado"></app-evento-dados-foto>

          <div>
            <div class="botao-centralizado">
              <button mat-raised-button class="btn-vermelho-secundario" type="button"
                (click)="output_fecharCadastroEdicao.emit()">
                <mat-icon>close</mat-icon>
                Cancelar edição
              </button>

              <button mat-raised-button class="btn-azul-secundario" type="button" matStepperPrevious>
                <mat-icon>arrow_back</mat-icon>
                Voltar
              </button>
              <button mat-raised-button class="btn-azul-secundario" type="button" matStepperNext>
                <mat-icon>arrow_forward</mat-icon>
                Próximo
              </button>

              <button mat-raised-button class="btn-verde-secundario" type="button" (click)="salvar()">
                <mat-icon>add</mat-icon>
                Salvar
              </button>
            </div>


          </div>
        </form>
      </mat-step>


      <mat-step [stepControl]="eventoDadosSite_FormGroup" [editable]="true">
        <ng-template matStepLabel>Customize seu site</ng-template>
        <app-evento-dados-site [backgroundImageUrl]="backgroundImageUrl" [eventoSelecionado]="eventoSelecionado"
          [temaSelecionado]="temaSelecionado" [formGroup]="eventoDadosSite_FormGroup"></app-evento-dados-site>


        <div>
          <div class="botao-centralizado">


            <button mat-raised-button class="btn-vermelho-secundario" type="button"
              (click)="output_fecharCadastroEdicao.emit()">
              <mat-icon>close</mat-icon>
              Cancelar edição
            </button>
            <button mat-raised-button class="btn-azul-secundario" type="button" matStepperPrevious>
              <mat-icon>arrow_back</mat-icon>
              Voltar
            </button>

            <button mat-raised-button class="btn-verde-secundario" type="button" (click)="salvar()">
              <mat-icon>add</mat-icon>
              Salvar
            </button>

          </div>

        </div>
      </mat-step>
    </mat-stepper>


  </div>

</form>