.tema-card {
  flex: 0 0 auto;
  width: 200px;
  border: 2px solid rgba(0, 0, 0, 0.329);
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  background-color: #fff;
  transition: transform 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
  scroll-snap-align: start;
  margin: auto;
  
}

.tema-img {
  width: 100%;
  aspect-ratio: 9 / 16;
  object-fit: contain;
  transition: object-fit 0.3s ease, height 0.3s ease;
}
.cores {
  display: flex;
  gap: 4px;
}

.cor {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 4px;
  margin-left: 4px;
}
h4{
  margin-left: 4px;
}

p{
  padding-top: 4px;
  padding-left: 16px;
}


.botao-centralizado {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: auto; /* faz o botão ir para o final */ 
}

mat-stepper{
  background: transparent !important;
}

.matStepContainer{
  min-height: 50vh !important;
  display: flex;
  flex-direction: column;
}